<a href="https://colab.research.google.com/github/TranNhatHan/LamBt/blob/main/BtPandas1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [66]:
import pandas as pd
import numpy as np
import string

In [34]:
a = pd.Series()
print(a)

Series([], dtype: float64)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

In [50]:
data = np.random.randint(-20, 20 , 7)
b = pd.Series(data)
print(b)

0    17
1    -4
2    19
3    -9
4    -6
5   -10
6   -18
dtype: int64

In [46]:
c = []
for i in range(7):
  val = int(input(f"Nhap phan tu thu {i+1}:"))
  c.append(val)
c = pd.Series(c)
print(c)

Nhap phan tu thu 1:2
Nhap phan tu thu 2:4
Nhap phan tu thu 3:6
Nhap phan tu thu 4:1
Nhap phan tu thu 5:3
Nhap phan tu thu 6:5
Nhap phan tu thu 7:7
0    2
1    4
2    6
3    1
4    3
5    5
6    7
dtype: int64

In [54]:
data = np.random.randint(-20, 20 , 7)
d = pd.Series(data)
print(d)

0     7
1   -10
2   -19
3     8
4     8
5    10
6     5
dtype: int64

In [58]:
lst = [2, 5, 4, 3]
tpl = (3, 4, 5, 2)
dic = {"A":1, "B": 2, "C":3}
x = pd.Series(lst)
y = pd.Series(tpl)
z = pd.Series(dic)
print(x)
print(y)
print(z)

0    2
1    5
2    4
3    3
dtype: int64
0    3
1    4
2    5
3    2
dtype: int64
A    1
B    2
C    3
dtype: int64

In [82]:
data = np.random.randint(-20, 20, 20)
e = pd.Series(data)
print(e)
print(e.index)
idx = list(string.ascii_lowercase)
e.index = idx[:20]
print(e)

0      5
1     12
2    -14
3     17
4    -17
5     12
6      2
7    -12
8     10
9    -11
10    -5
11     3
12    15
13    16
14     9
15     7
16   -20
17     0
18     6
19   -15
dtype: int64
RangeIndex(start=0, stop=20, step=1)
a     5
b    12
c   -14
d    17
e   -17
f    12
g     2
h   -12
i    10
j   -11
k    -5
l     3
m    15
n    16
o     9
p     7
q   -20
r     0
s     6
t   -15
dtype: int64

In [95]:
data = np.random.randint(-20, 20, 10)
f = pd.Series(data)
idx = list(string.ascii_lowercase)
f.index = idx[:10]
print(f.loc[["a","c","e"]])
print(f.iloc[range(3,6)])

a    -6
c    -3
e   -18
dtype: int64
d     2
e   -18
f   -12
dtype: int64