<a href="https://colab.research.google.com/github/TranNhatHan/LamBt/blob/main/BTVongLap.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [91]:
#1
a=0
while a<=10:
  print(a)
  a=a+1

0
1
2
3
4
5
6
7
8
9
10

In [97]:
#2
for i in range(5,0,-1):
  for j in range(i,0,-1):
    print(j,end=" ")
  print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [33]:
#3
sum=0
n=int(input())
for i in range(1,n+1):
  sum=sum+i
print(sum)

5
15

In [43]:
#4
m=0
n=int(input())
for i in range(1,10):
  m=i*n
  print("",n,"*",i,"=",m)

3
 3 * 1 = 3
 3 * 2 = 6
 3 * 3 = 9
 3 * 4 = 12
 3 * 5 = 15
 3 * 6 = 18
 3 * 7 = 21
 3 * 8 = 24
 3 * 9 = 27

In [76]:
#5
list = [1,2,3,4,5]
for i in list:
  print(i)

1
2
3
4
5

In [102]:
#6
i=0
n = int(input())
while (n != 0):
  n=n//10
  i=i+1
print(i)

43532
5

In [68]:
#7
list = [1,2,3,4,5]
list.reverse()
for i in list:
  print(i)

5
4
3
2
1

In [69]:
#8
for i in range (-10,0):
 print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [143]:
#10
n=int(input())
m=int(input())
if n>m:
  n, m=m, n
for i in range(n,m+1):
 a=0
 for j in range(2,i):
    if i%j==0:
      a=a+1
 if a==0:
    print(i,end=" ")

-3
9
Khong co so nguyen to
-3 -2 -1 0 1 2 3 5 7

In [171]:
#11
a = 1
b = 1
n = 10
list = [0, 1]
for i in range(2, n):
    c = list[i - 1] + list[i - 2]
    list.append(c)   
print(list)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [168]:
#12
a=1
n=int(input())
for i in range(1,n+1):
  a=a*i
print(a)

5
120

In [90]:
#13
n = int(input())
while (n != 0):
    print(n % 10, end="")
    n = n // 10

235252
252532

In [73]:
#14
n=int(input())
for i in range(1,n+1):
  if i%2==1:
    print(i)

5
1
3
5

In [72]:
#15
n=int(input())
for i in range(1,n+1):
  print(i**3)

5
1
8
27
64
125