<a href="https://colab.research.google.com/github/TranNhatHan/LamBt/blob/main/ConfidenceInterval.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import scipy.stats as st
import numpy as np
import pandas as pd
import math

You’re a Q/C inspector for Gallo. The σ for 2-liter bottles is 0.05 liters.  A random sample of 100 bottles showed x = 1.99 liters.  What is the 90%  confidence interval estimate of the true mean amount in 2-liter bottles?

In [2]:
st.norm.interval(0.9, 1.99, 0.05/math.sqrt(100))

(1.9817757318652427, 1.9982242681347573)

You’re a time study analyst in manufacturing.  You’ve recorded the following task times (min.): 3.6, 4.2, 4.0, 3.5, 3.8, 3.1. What is the 90% confidence interval estimate of the population mean task time?

In [3]:
data = [3.6, 4.2, 4.0, 3.5, 3.8, 3.1]
st.t.interval(0.9, len(data) - 1, np.mean(data), np.std(data)/math.sqrt(len(data)))

(3.4072202592396357, 3.9927797407603656)

You’re a production manager for a newspaper. You want to find the % defective. Of 200 newspapers, 35 had defects.  What is the 90% confidence interval estimate of the population proportion defective?

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Đọc dữ liệu

In [21]:
dataset = pd.read_csv('/content/drive/MyDrive/DiemThiTHPT.csv')
dataset.head()

,33002584,Unnamed: 1,Unnamed: 2,Unnamed: 3,9.8,6,9.5,9.5.1,5.75,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,7
0,33003395,NaN,NaN,NaN,9.8,6.00,7.00,9.75,9.50,NaN,NaN,NaN,NaN,NaN,9.4
1,33003488,NaN,NaN,NaN,9.8,7.75,9.50,8.50,5.25,NaN,NaN,NaN,NaN,NaN,8.4
2,33008721,NaN,NaN,NaN,9.8,5.75,9.00,4.25,6.00,NaN,NaN,NaN,NaN,NaN,9.4
3,33010902,NaN,NaN,NaN,9.8,6.00,9.00,8.00,5.75,NaN,NaN,NaN,NaN,NaN,7.4
4,33000100,NaN,NaN,NaN,8.8,4.75,8.75,8.25,4.75,NaN,NaN,NaN,NaN,NaN,8.0

Lấy mẫu từ tập dữ liệu

In [22]:
sample = dataset.sample(300)
sample.head()

,33002584,Unnamed: 1,Unnamed: 2,Unnamed: 3,9.8,6,9.5,9.5.1,5.75,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,7
1628,33011859,NaN,NaN,NaN,6.8,8.00,NaN,NaN,NaN,NaN,4.00,7.00,8.25,NaN,5.6
7446,33012637,NaN,NaN,NaN,5.4,7.25,NaN,NaN,NaN,NaN,6.25,7.50,9.75,NaN,3.8
753,33005600,NaN,NaN,NaN,7.8,6.00,8.0,7.0,6.5,NaN,NaN,NaN,NaN,NaN,9.2
5189,33001095,NaN,NaN,NaN,2.6,4.25,NaN,NaN,NaN,NaN,4.00,3.75,6.50,NaN,2.2
1872,33006934,NaN,NaN,NaN,5.8,7.75,NaN,NaN,NaN,NaN,3.75,6.50,7.50,NaN,6.2

Lọc lấy cột điểm môn toán

In [23]:
dataset = dataset.iloc[:,[4, ]].values
diem_toan = sample.iloc[:, [4, ]].values

Tính khoảng tin cậy theo hai cách

In [24]:
st.norm.interval(alpha = 0.95, loc = np.mean(diem_toan), scale = np.std(dataset)/math.sqrt(diem_toan.size))

(6.420091590339513, 6.80924174299382)

In [26]:
st.t.interval(alpha = 0.95, df = diem_toan.size -1, loc = np.mean(diem_toan), scale = float(st.sem(diem_toan)))

(6.415469015513098, 6.813864317820235)