<a href="https://colab.research.google.com/github/TranNhatHan/LamBt/blob/main/Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import calendar
cal = calendar.month(2008, 1)
print("Here is the calendar:")
print(cal)

Here is the calendar:
    January 2008
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

In [2]:
import time;
localtime = time.asctime( time.localtime(time.time()) )
print("Local current time :", localtime)

Local current time : Thu Sep 30 00:50:51 2021

In [4]:
import time;
ticks = time.time()
print("Number of ticks since 12:00am, January 1, 1970:", ticks)
localtime = time.localtime(time.time())
print("Local current time :", localtime)

Number of ticks since 12:00am, January 1, 1970: 1632963111.1568713
Local current time : time.struct_time(tm_year=2021, tm_mon=9, tm_mday=30, tm_hour=0, tm_min=51, tm_sec=51, tm_wday=3, tm_yday=273, tm_isdst=0)

In [5]:
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
SubsetRes = DaysA <= DaysB
SupersetRes = DaysB >= DaysA
print(SubsetRes)
print(SupersetRes)

True
True

In [9]:

set1 = set()
for i in range(5):
 set1.add(i)
set2 = {3, 4, 5, 6, 7, 8}
set3 = set1.difference(set2)
print(" Difference of two sets using difference() function")
print(set3)
set3 = set1 - set2
print("\nDifference of two sets using '-' operator")
print(set3)

 Difference of two sets using difference() function
{0, 1, 2}

Difference of two sets using '-' operator
{0, 1, 2}

In [11]:
set1 = set()
for i in range(5):
 set1.add(i)
set2 = {3, 4, 5, 6, 7, 8}
set3 = set1.intersection(set2)
print("Intersection using intersection() function")
print(set3)
set3 = set1 & set2
print("\nIntersection using '&' operator")
print(set3)

Intersection using intersection() function
{3, 4}

Intersection using '&' operator
{3, 4}

In [12]:
people = {"Jay", "Idrish", "Archil"}
vampires = {"Karan", "Arjun"}
dracula = {"Deepanshu", "Raju"}
# Union using union() function
population = people.union(vampires)
print("Union using union() function")
print(population)
# Union using "|" operator
population = people|dracula
print("\nUnion using '|' operator")
print(population)

Union using union() function
{'Idrish', 'Arjun', 'Jay', 'Karan', 'Archil'}

Union using '|' operator
{'Idrish', 'Jay', 'Deepanshu', 'Raju', 'Archil'}

In [13]:
set1 = {1,2,3,4,5,6}
print("Initial set")
print(set1)
# This method will remove
# all the elements of the set
set1.clear()
print("\nSet after using clear() function")
print(set1)

Initial set
{1, 2, 3, 4, 5, 6}

Set after using clear() function
set()

In [14]:
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat"])
Days.discard("Sun")
print(Days)

{'Mon', 'Fri', 'Wed', 'Sat', 'Tue', 'Thu'}

In [16]:
people = {"Jay", "Idrish", "Archi"}
print("People: ")
print(people)
people.add("Daxit")
for i in range(1, 6):
 people.add(i)
print("\nSet after adding element:", end = " ")
print(people)

People:
{'Idrish', 'Archi', 'Jay'}

Set after adding element: {'Idrish', 1, 2, 3, 4, 'Jay', 5, 'Archi', 'Daxit'}

In [17]:
# Same as {"a", "b", "c"}
Set = set(["a", "b", "c"])
print("Set: ")
print(Set)
# Adding element to the set
Set.add("d")
print("\nSet after adding: ")
print(Set)

Set:
{'b', 'a', 'c'}

Set after adding:
{'b', 'a', 'd', 'c'}

In [19]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
del dict['Name'] # remove entry with key 'Name'
dict.clear() # remove all entries in dict
del dict

In [20]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
dict['Age'] = 8; # update existing entry
dict['School'] = "DPS School"; # Add new entry
print("dict['Age']: ", dict['Age'])
print("dict['School']: ", dict['School'])

dict['Age']:  8
dict['School']:  DPS School

In [21]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
print("dict['Name']: ", dict['Name'])
print("dict['Age']: ", dict['Age'])

dict['Name']:  Zara
dict['Age']:  7

In [22]:
tup = ('physics', 'chemistry', 1997, 2000)
print(tup)
del tup
print("After deleting tup : ")
print(tup)

('physics', 'chemistry', 1997, 2000)
After deleting tup :

NameError: ignored

In [25]:
tup1 = (12, 34.56)
tup2 = ('abc', 'xyz')
# Following action is not valid for tuples
# tup1[0] = 100;
# So let's create a new tuple as follows
tup3 = tup1 + tup2
print(tup3)

(12, 34.56, 'abc', 'xyz')

In [26]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5, 6, 7 )
print("tup1[0]: ", tup1[0])
print("tup2[1:5]: ", tup2[1:5])

tup1[0]:  physics
tup2[1:5]:  (2, 3, 4, 5)

In [27]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5 )
tup3 = "a", "b", "c", "d"
tup1 = ()
tup1 = (50,)

In [29]:
list = ['physics', 'chemistry', 1997, 2000]
print("Value available at index 2 : ")
print(list[2])
list[2] = 2001
print("New value available at index 2 : ")
print(list[2])

Value available at index 2 :
1997
New value available at index 2 :
2001

In [30]:
list1 = ['physics', 'chemistry', 1997, 2000]
list2 = [1, 2, 3, 4, 5, 6, 7 ]
print("list1[0]: ", list1[0])
print("list2[1:5]: ", list2[1:5])

list1[0]:  physics
list2[1:5]:  [2, 3, 4, 5]

In [31]:
list1 = ['physics', 'chemistry', 1997, 2000]
list2 = [1, 2, 3, 4, 5 ]
list3 = ["a", "b", "c", "d"]